#box {
  position: relative;
  height: 100%;
  width: 100%;

/*  border: .1rem solid #fff;  */
  color: #ffffcc;
}

.navigation{
  position: relative;
  top:20%;
}

.boxTwo{
  position: relative;
  height: 100%;
  width: 100%;

  color: #ffffcc;
  grid-column:1/2;
  grid-row : 2/4;
}

.boxThree{
  position: relative;
  height: 100%;
  width: 100%;

  color: #ffffcc;
  grid-column:1/2;
  grid-row : 5/7;
}

.boxName {
  position: absolute;
  text-align: center;
  transform: rotate(-90deg);
  width:100%;
  top:50%;
  right:20%;
  font-size:90%;
}

.boxCreative {
  position: absolute;
  text-align: center;
  transform: rotate(-90deg);
  width:100%;
  top:50%;
  right:20%;
  font-size:90%;

  grid-column:5/9;
  grid-row : 3/6;
}

.App {
  font-family: Futura;
  text-align: center;
  border: 1rem solid #282c34;

}

.grid {
  border: .3rem solid #ffffcc;
  height: 46.8rem;
  background-color: #282c34;

  display: grid;
  grid-template-columns:repeat(12, 1fr);
  grid-template-rows:repeat(7, 1fr);

}

.App-header{
  position: relative;
  grid-column:5/9;
  grid-row : 3/6;
}

.App-logo {
  position: absolute;
  animation: App-logo-spin infinite 20s linear;
  height: 80%;
  width: 80%;
  pointer-events: none;

  top:10%;
  right:10%;
  left:10%;
  bottom:10%;

}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
