

/*
*{
  border: .1rem solid #000000;
} */


body{
  height: 100vh;
  width: 100vw;
  background-color: #17B6FC;
  color:#FFFFFF;
  font-family: Futura;
}


h1{
  margin: .1rem 1rem .1rem 1rem;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
}
h2{
  margin: .1rem 8rem .1rem 8rem;
  font-size: 5rem;
  text-align: center;

}

p{
    font-size: 2.5rem;
    margin: .1rem 7rem .1rem 7rem;
    text-align: center;
    font-weight: 100;
}

.grid {

  text-align: center;
  /*outline: .05rem solid #FFFFFF;*/
  height: 40%;

  display: grid;
  grid-template-columns:repeat(12, 1fr);
  grid-template-rows:repeat(6, 1fr);

  grid-template-areas:

  ".    .        .      .     .     .    .     .        cl4    cl5      cl5 cl5  "
  ".    .        .      nl    nl    nl   nl    nl   nl        cl5      cl5 cl5 "
  ".    .        .      nl    nl    nl   nl    nl   nl    .  .        .    "
  ".    .        .      nl    nl    nl   nl    nl   nl    .    .        .    "
  "cl3    cl3    cl2    nl    nl    nl   nl    nl   nl    cl    cl        .    "
  "cl3    cl3    .      .     .     .    .     .    .     cl    cl        .    ";
}

#nameLottie{

  grid-area: nl;
}
#cloudLottie {

  grid-area: cl;
}

#cloudLottieTwo {

  grid-area: cl2;
}

#cloudLottieThree {

  grid-area: cl3;
}
#cloudLottieFour {

  grid-area: cl4;
}
#cloudLottieFive {

  grid-area: cl5;
}

/*
#unsplash {
  grid-area: u;

} */

.begin{
  text-align: center;
  background-image: linear-gradient(#17B6FC, #4e91fc);
}

.imgOne{
    grid-area: hd;
}
.imgTwo{
    grid-area: ft;
}
.imgThree {
    grid-area: ax;
}


.images img {
  width:  100%;

  /*border: .1rem solid #ff0000;*/
}



.properGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: repeat(3, 1fr);
    grid-template-areas:
    "hd hd hd hd hd hd hd"
    "ft ft ft ft ft ft ft"
    "ax ax ax ax ax ax ax";
    grid-gap: 1rem 1rem;

    text-align: center;
    background-image: linear-gradient(#4e91fc, #0F2E4C);
}

.space{
 margin-top: 3rem;
}

.bottomSpace{
 margin-bottom: 3rem;
}



/* buttons */
.btn-hover {
    width: 20rem;
    height: 5rem;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;

    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}


.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

/*       end of buttons           */




@media only screen and (min-width: 1200px) {

  .responsiveHamburgerMenu{
    display : none;
  }

  .properGrid {
      display: grid;
      grid-template-columns: repeat(13, 1fr);
      grid-auto-rows: repeat(1, 1fr);
      grid-template-areas:
      ". .  hd hd hd  ft ft ft  ax ax ax . .";
      grid-gap: 1rem 1rem;

      text-align: center;
      background-image: linear-gradient(#17B6FC, #4e91fc);
  }

}
