#nameLottie {
  height: 100%;
  margin: auto;
  width: 100%;
}

.nameLottiePosition{
  position: relative;
  grid-column:4/10;
  grid-row : 2/7;
}

#cloudLottie {
  height: 100%;
  margin: auto;
  width: 100%;

}

.cloudLottiePosition{
  position: relative;
  grid-column:2/4;
  grid-row : 5/7;
}

.cloudLottiePositionTwo{
  position: relative;
  grid-column:10/12;
  grid-row : 2/4;
}

body{
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #17B6FC;
  color:#FFFFFF;
  font-family: Futura;
}

.grid {
  text-align: center;
  /*outline: .05rem solid #FFFFFF;*/
  height: 100%;

  display: grid;
  grid-template-columns:repeat(12, 1fr);
  grid-template-rows:repeat(7, 1fr);

}

.navigation{
  position: relative;
  top:20%;
  font-size: 1em;
}



 #box {
   position: relative;
   height: 100%;
   width: 100%;

   border: .1rem solid #000000;
 }

 .boxTwo{
   position: relative;
   height: 100%;
   width: 100%;
   grid-column:1/2;
   grid-row : 2/4;
 }

 .boxName {
  position: absolute;
  text-align: center;
  transform: rotate(-90deg);
  width:100%;
  top:50%;
  right:20%;
  font-size:90%;
}

.boxThree{
  position: relative;
  height: 100%;
  width: 100%;
  grid-column:1/2;
  grid-row : 5/7;
}

.boxCreative {
  position: absolute;
  text-align: center;
  transform: rotate(-90deg);
  width:100%;
  top:50%;
  right:20%;
  font-size:90%;
  grid-column:5/9;
  grid-row : 3/6;
}

@media only screen and (min-width: 0px) {
  .navigation{
    display : none;
  }
  .boxName{
     display: none;
  }
  .boxCreative{
     display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .navigation{
    display : inline;
  }
  .boxName{
    display : inline;
  }
  .boxCreative{
    display : inline;
  }
  .responsiveHamburgerMenu{
    display : none;
  }
}


.images img {
  width:  100%;
  height: 100%;
}

.imgOne{
    grid-area: hd;
}
.imgTwo{
    grid-area: ft;
}
.imgThree {
    grid-area: ax;
}

.imageTitle{
  font-size: 1.5rem;
}





.properGrid {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-auto-rows: repeat(1, 1fr);
    grid-template-areas:
    ". .  hd hd hd  ft ft ft  ax ax ax . .";
    grid-gap: 1rem 1rem;

    text-align: center;
    background-image: linear-gradient(#17B6FC, #4e91fc);
}


.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}


.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
